<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoWeb parte_2</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="sidebar_abrigos">
        <div class="container_abrigos">
            <div class="sidebar_section_arriba_abrigos">
                <h1>Campus Shop</h1>
                <div class="sidebar_section_medio_abrigos">
                    <a href="../index.html">✻ Todos los productos</a>
                    <a href="#">✻ Abrigos</a>
                    <a href="camisetas.html">✻ Camisetas</a>
                    <a href="pantalones.html">✻ Pantalones</a>
                </div>
                <div class="sidebar_section_down_abrigos">
                    <a href="carritos.html">✻ Carritos ㅤㅤㅤㅤ3</a>
                <div class="sidebar_section_down_h2_abrigos">
                    <h2>© 2024 Camper</h2>
            </div>
        </div>
      </section>
    <section class="main-content_abrigos">
        <div class="content-container_abrigos">
            <h1>Abrigos</h1>
            <div class="box_abrigos">
                <img src="../storage/img/Abrigo1-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_Abrigos">
                    <h4>Abrigo 01</h4>
                    <div class="box_alado_debajo_abrigos">
                        <small>$12.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_abrigos">
                <img src="../storage/img/Abrigo1-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_Abrigos">
                    <h4>Abrigo 02</h4>
                    <div class="box_alado_debajo_abrigos">
                        <small>$19.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_abrigos">
                <img src="../storage/img/Abrigo1-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_Abrigos">
                    <h4>Abrigo 03</h4>
                    <div class="box_alado_debajo_abrigos">
                        <small>$17.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_abrigos">
                <img src="../storage/img/Abrigo3-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_Abrigos">
                    <h4>Abrigo 04</h4>
                    <div class="box_alado_debajo_abrigos">
                        <small>$10.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_abrigos">
                <img src="../storage/img/Abrigo3-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_Abrigos">
                    <h4>Abrigo 05</h4>
                    <div class="box_alado_debajo_abrigos">
                        <small>$25.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_abrigos">
                <img src="../storage/img/Abrigo3-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_Abrigos">
                    <h4>Abrigo 06</h4>
                    <div class="box_alado_debajo_abrigos">
                        <small>$18.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>