<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoWeb parte_2</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="sidebar_camisetas">
        <div class="container_camisetas">
            <div class="sidebar_section_arriba_camisetas">
                <h1>Campus Shop</h1>
                <div class="sidebar_section_medio_camisetas">
                    <a href="../index.html">✻ Todos los productos</a>
                    <a href="abrigos.html">✻ Abrigos</a>
                    <a href="#">✻ Camisetas</a>
                    <a href="pantalones.html">✻ Pantalones</a>
                </div>
                <div class="sidebar_section_down_camisetas">
                    <a href="carritos.html">✻ Carritos ㅤㅤㅤㅤ3</a>
                <div class="sidebar_section_down_h2_camisetas">
                    <h2>© 2024 Camper</h2>
            </div>
        </div>
      </section>
    <section class="main-content_camisetas">
        <div class="content-container_camisetas">
            <h1>Camisetas</h1>
            <div class="box_camisetas">
                <img src="../storage/img/Camiseta1-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_camisetas">
                    <h4>Camiseta 01</h4>
                    <div class="box_alado_debajo_camisetas">
                        <small>$11.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_camisetas">
                <img src="../storage/img/Camiseta1-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_camisetas">
                    <h4>Camiseta 02</h4>
                    <div class="box_alado_debajo_camisetas">
                        <small>$15.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_camisetas">
                <img src="../storage/img/Camiseta1-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_camisetas">
                    <h4>Camiseta 03</h4>
                    <div class="box_alado_debajo_camisetas">
                        <small>$24.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_camisetas">
                <img src="../storage/img/Camiseta2-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_camisetas">
                    <h4>Camiseta 04</h4>
                    <div class="box_alado_debajo_camisetas">
                        <small>$13.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_camisetas">
                <img src="../storage/img/Camiseta2-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_camisetas">
                    <h4>Camiseta 05</h4>
                    <div class="box_alado_debajo_camisetas">
                        <small>$17.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_camisetas">
                <img src="../storage/img/Camiseta2-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_camisetas">
                    <h4>Camiseta 06</h4>
                    <div class="box_alado_debajo_camisetas">
                        <small>$4.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>