<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoWeb parte_2</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="sidebar_camisetas">
        <div class="container_camisetas">
            <div class="sidebar_section_arriba_camisetas">
                <h1>Campus Shop</h1>
                <div class="sidebar_section_medio_camisetas">
                    <a href="../index.html">✻ Todos los productos</a>
                    <a href="abrigos.html">✻ Abrigos</a>
                    <a href="camisetas.html">✻ Camisetas</a>
                    <a href="pantalones.html">✻ Pantalones</a>
                </div>
                <div class="sidebar_section_down_camisetas">
                    <a href="carritos.html">✻ Carritos ㅤㅤㅤㅤ0 </a>
                <div class="sidebar_section_down_h2_camisetas">
                    <h2>© 2024 Camper</h2>
            </div>
        </div>
      </section>
      <section class="main-content_carrito">
        <div class="content-container_carrito">
            <h1>Carrito</h1>
            <div class="carritovacioh2">
                <h2>Tu carrito esta vacio 😢</h2>
            </div>
        </div>
    </section>
</body>
</html>