<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoWeb parte_2</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="sidebar_camisetas">
        <div class="container_camisetas">
            <div class="sidebar_section_arriba_camisetas">
                <h1>Campus Shop</h1>
                <div class="sidebar_section_medio_camisetas">
                    <a href="../index.html">✻ Todos los productos</a>
                    <a href="abrigos.html">✻ Abrigos</a>
                    <a href="camisetas.html">✻ Camisetas</a>
                    <a href="pantalones.html">✻ Pantalones</a>
                </div>
                <div class="sidebar_section_down_camisetas">
                    <a href="carritos.html">✻ Carritos ㅤㅤㅤㅤ1</a>
                <div class="sidebar_section_down_h2_camisetas">
                    <h2>© 2024 Camper</h2>
            </div>
        </div>
      </section>
      <section class="main-content_carrito">
        <div class="content-container_carrito">
            <h1>Carrito</h1>
            <div class="row">
                <div class="item">
                    <img src="../storage/img/Camiseta1-removebg-preview.png" alt="Imagen 1">
                    <div class="column">
                        <p>Nombre</p>
                        <p>Camiseta 03</p>
                    </div>
                    <div class="column">
                        <p>Cantidad</p>
                        <input type="text" placeholder="1">
                    </div>
                    <div class="column">
                        <p>Precio</p>
                        <p>$19.00</p>
                    </div>
                    <div class="column">
                        <p>Subtotal</p>
                        <p>$19.00</p>
                    </div>
                        <img type="imagencarro" src="../storage/img/cart-add-solid-24.png" alt="Imagen 2">
                </div>
                <div class="item_carritos_Abajo">
                    <div class="column_abajo_Carrito">
                        <a href="carritovacio.html">Vaciar carrito</a>
                    </div>
                    <div class="columna_Abajo_carrito">
                        <div class="columna_Abajo_carrito_cantidad">
                            <p>Total</p>
                            <small>$19.00</small>
                        </div>
                        <div class="Comprar_ahora">
                            <a href="">Comprar Ahora</a>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</body>
</html>