<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoWeb parte_2</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="sidebar_pantalones">
        <div class="container_pantalones">
            <div class="sidebar_section_arriba_pantalones">
                <h1>Campus Shop</h1>
                <div class="sidebar_section_medio_pantalones">
                    <a href="../index.html">✻ Todos los productos</a>
                    <a href="abrigos.html">✻ Abrigos</a>
                    <a href="camisetas.html">✻ Camisetas</a>
                    <a href="#">✻ Pantalones</a>
                </div>
                <div class="sidebar_section_down_pantalones">
                    <a href="carritos.html">✻ Carritos ㅤㅤㅤㅤ3</a>
                <div class="sidebar_section_down_h2_pantalones">
                    <h2>© 2024 Camper</h2>
            </div>
        </div>
      </section>
    <section class="main-content_pantalones">
        <div class="content-container_pantalones">
            <h1>Pantalones</h1>
            <div class="box_pantalones">
                <img src="../storage/img/Pantalon1-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_pantalones">
                    <h4>Pantalon 01</h4>
                    <div class="box_alado_debajo_pantalones">
                        <small>$14.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_pantalones">
                <img src="../storage/img/Pantalon1-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_pantalones">
                    <h4>Pantalon 02</h4>
                    <div class="box_alado_debajo_pantalones">
                        <small>$18.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_pantalones">
                <img src="../storage/img/Pantalon1-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_pantalones">
                    <h4>Pantalon 03</h4>
                    <div class="box_alado_debajo_pantalones">
                        <small>$24.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_pantalones">
                <img src="../storage/img/Pantalon2-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_pantalones">
                    <h4>Pantalon 04</h4>
                    <div class="box_alado_debajo_pantalones">
                        <small>$8.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_pantalones">
                <img src="../storage/img/Pantalon2-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_pantalones">
                    <h4>Pantalon 05</h4>
                    <div class="box_alado_debajo_pantalones">
                        <small>$18.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="box_pantalones">
                <img src="../storage/img/Pantalon2-removebg-preview.png" alt="Imagen 1">
                <div class="box_alado_pantalones">
                    <h4>Pantalon 06</h4>
                    <div class="box_alado_debajo_pantalones">
                        <small>$20.00</small>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>